
body {
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

ul.list-group, .wrap_everything {
    white-space: normal !important;
}

tr.odd:hover, tr.even:hover {
    background-color: #e9e9e9;
}

tr.odd:hover > td, tr.even:hover > td {
    background-color: transparent;
}

div.grid-full-height,
div.resizable {
    min-height: 0;
}

.detail-size {
    max-width: 1024px;
}

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}

.list-group-item:not(.list-group-item-secondary):hover  {
    background-color: #e9e9e9;
}

#column-visibility {
    width: 100%;
}

.select2-selection{
    overflow-y:auto;
    white-space:nowrap;
}

.select2-selection__clear {
    position: relative !important;
    top: 0px;
    left: 0px;
}

ul.select2-selection__rendered{
    white-space: nowrap;
}

.select2-container--default {
    display: table!important;
    table-layout: fixed!important;
}

table.dataTable td.dt-control:before {
    content: '\f103';
    font-family: 'Font Awesome\ 6 Free';
    font-weight: 900;
    cursor: pointer;
    font-size: 22px;
    color: #55a4be;
}
table.dataTable tr.shown td.dt-control:before {
    content: '\f102';
    font-family: 'Font Awesome\ 6 Free';
    font-weight: 900;
    cursor: pointer;
    font-size: 22px;
    color: #55a4be;
}